﻿@model IEnumerable<POSInventory.Models.UOM>

@{
    ViewBag.Title = "Index";
}

<div class="box box-body box-primary">
    <p>
        @*@Html.ActionLink("Create New", "Create")*@
        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-plus"></i> Add Unit</a>
    </p>
    <table class="table" id="uomList">
        <thead>
            <tr class="dataTableHead">
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Munit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Munit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#uomList').DataTable();
        });
    </script>
}
