﻿@model IEnumerable<POSInventory.Models.Category>

@{
    ViewBag.Title = "Index";
}



<div class="box box-body box-primary">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="categoryList">
        <thead>
            <tr class="dataTableHead">
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Active?
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @*Html.DisplayFor(modelItem => item.EmailConfirmed)*@
                        @{if (item.isActive == true)
                            {
                                <span style="color:Green"> Active </span>
                            }
                            else
                            {
                                <span style="color:red"> Inactive </span>
                            }

                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#categoryList').DataTable();
        });
    </script>
}
