﻿@model IEnumerable<POSInventory.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="box box-body box-primary">
    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</a>
    </p>
    <table class="table" id="productList">
        <thead>
            <tr class="dataTableHead">
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlertQty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlertQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {

    <script>
        $(document).ready(function () {
            $('#productList').DataTable();
        });
    </script>    
    
}
